@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

.scroll-description {
    height: 210px;
    overflow-y: scroll;
}

.scroll-description-user {
    height: 300px;
    overflow-y: scroll;
}

.card-image-area {
    /* height: 200px;
    width: 100%; */
    top: 20px;
    left: 0;
    right: 0;
    position: absolute;
}

.backdropPlace-black {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.form-admin {
    width: 450px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 40px 60px;
    box-shadow: 0px 0px 10px #000000;
    color: white
}

.place-header {
    font-family: 'Carter One', cursive;
}
