.pList{
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
}

.pListItem{
  flex:1;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid rgb(13, 166, 13);
  background-color: #ffffff;
}

.pListImg{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.pListTitles>h1{
  font-size: 20px;
  color: #642e2e;
  text-transform: capitalize;
}

.pListTitles>h2{
  font-size: 16px;
  font-weight: 300;
  color: #c05353;
}